@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-bulldozer:before { content: "\f100"; }
.flaticon-002-dumper-truck:before { content: "\f101"; }
.flaticon-003-dumper:before { content: "\f102"; }
.flaticon-004-excavator:before { content: "\f103"; }
.flaticon-005-forklift:before { content: "\f104"; }
.flaticon-006-grader:before { content: "\f105"; }
.flaticon-007-excavator:before { content: "\f106"; }
.flaticon-008-mixer-truck:before { content: "\f107"; }
.flaticon-009-road-roller:before { content: "\f108"; }
.flaticon-010-road-roller:before { content: "\f109"; }
.flaticon-011-scraper:before { content: "\f10a"; }
.flaticon-012-loader:before { content: "\f10b"; }
.flaticon-013-tanker-truck:before { content: "\f10c"; }
.flaticon-014-tractor:before { content: "\f10d"; }
.flaticon-015-trailer:before { content: "\f10e"; }
.flaticon-016-truck:before { content: "\f10f"; }
.flaticon-017-truck:before { content: "\f110"; }
.flaticon-018-crane:before { content: "\f111"; }
.flaticon-019-crane:before { content: "\f112"; }
.flaticon-020-loader:before { content: "\f113"; }